
/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  } */
  
   
  /* ///// */
  #addProductModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
 
  

  

  #addProductModal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .modal-header h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    /* color: #4D4B4B; */
    color: rgb(232, 170, 95);
  }
  /* .modal-message p {
    margin: 0;
    color: #5A5959;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150.023%; 
    letter-spacing: 0.15px;
  } */
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    
  }
  .cancel-button, .confirm-add-button {
    padding: 8px 16px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    height: 41px;
    flex-shrink: 0;
    border-radius: 6px;
  }
  #addProductModal .cancel-button, .confirm-add-button:checked{
   background-color: #FFF;
  }
  #addProductModal .cancel-button {
    background-color: #EEE6D8;
    color: #DAAB3A;
    width: 100px;
    /* color: #5C42FF; */
  }
  #addProductModal.cancel-button:hover {
    background: #e3e3e3;
  }
  #addProductModal .confirm-add-button {
    width: 120px;
    background: #DAAB3A;
    color: #fff;
    box-shadow: 0px 5px 9px 0px rgba(127, 106, 255, 0.18);
  }
  #addProductModal .confirm-add-button:hover {
    box-shadow: 0px 5px 9px 0px rgba(127, 106, 255, 0.40);
  }
  
  .modal-header button {
    background: none;
    border: none;
    cursor: pointer;
    color: #a5a5a5; 
    padding: 0;
    font-size: 40px;
    margin: 0;
    line-height: 0px;
  }
  .modal-header button:hover {
    color: #f8f8f4;
  }
  
  @keyframes slideIn {
    from {
      top: 8%;
      opacity: 0;
    }
    to {
      top: 20%;
      opacity: 1;
    }
  }
  @keyframes slideOut {
    from {
      top: 20%;
      opacity: 1;
    }
    to {
      top: 5%;
      opacity: 0;
  
    }
  }
  .modal2-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 30px 25px 30px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    width: 500px;
    opacity: 0;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.21, 0.99);
  }
  .modal.active .modal2-content {
    opacity: 1;
    animation-name: slideOuts;
  
  }
  .modal.active.slideIns .modal2-content {
    opacity: 0;
    animation-name: slideIns;
  
  }
  #addProductModal .modal-input input {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    transition: border-color 0.3s; 
  }
  #addProductModal .modal-input select {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    transition: border-color 0.3s;
    margin-right: 10px; 
  }
  #addProductModal .space-right input:first-child,textarea:first-child{
  margin-right: 10px;
  }

  #addProductModal .modal-input textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    transition: border-color 0.3s; 
  }
  #addProductModal .modal-input input:focus {
    border-color: #DAAB3A; 
    outline: none;
  }
  #addProductModal .modal-input select:focus {
    border-color: #DAAB3A; 
    outline: none;
  }
  #addProductModal .modal-input textarea:focus {
    border-color: #DAAB3A; 
    outline: none;
  }

  #addProductModal  .modal-input input::placeholder {
    color: #999; 
  }
  #addProductModal  .modal-input select::placeholder {
    color: #999; 
  }
  
  
  @keyframes slideIns {
    from {
      top: 50%;
      opacity: 1;
    }
    to {
      top: 55%;
      opacity: 0;
    }
  }
  
  @keyframes slideOuts {
    from {
      top: 55%;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }