/* table */
.table-responsive {
	margin: 30px 0;
	grid-gap: 24px;
	border-radius: 15px;
}
.table-wrapper {
	background: #f9f9f9;
	padding: 20px 25px;
	/* border-radius: 10px; */
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 10px;
	background: #f9f9f9;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
/* .table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
} */
/* .table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
} */
/* .table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
} */
#deleteProductBtn{
	background-color: #f82c2c;
	color: #fff;
  }
#addProductBtn{
	color: #fff;
	background-color: #ffc107;
}

.mainButtons button{
    padding: 10px 20px;
    height: 45px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 5px 9px 0px rgba(127, 106, 255, 0.18);
  }

  
  
  .mainButtons #deleteProductBtn:hover {
    color: #f82c2c;
    background-color: #EEE6D8;
  } 
  .mainButtons #addProductBtn:hover {
    color: #ffc107;
    background-color: #EEE6D8;
  }

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 8px 15px;
	vertical-align: middle;
}
table.table thead tr {
	background-color: rgb(214, 143, 56);
	color: #fff;
}
table.table tr th:first-child {
	width: 60px;
}
table.table tr th:last-child {
	width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #FFFFF5	;
	background-color: #fff;

}
/* hover table */
table.table-striped.table-hover tbody tr:hover {
	/* background: #f5f5f5; */
	   background: #EEE6D8;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}	
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}
table.table td img{
height: 60px;
width: 90px;
border: 5px;
border-color: rgb(247, 247, 243) ;
}
/* table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
} */
 /* table.table td a:hover {
	color: #2196F3;
} */
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #F44336;
} 
table.table td i {
	font-size: 19px;
}

/* table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
} */




/* Custom checkbox */
.custom-checkbox {
	position: relative;
}
.custom-checkbox input[type="checkbox"] {    
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9;
}
.custom-checkbox label:before{
	width: 18px;
	height: 18px;
}
.custom-checkbox label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	background: white;
	border: 1px solid  #B67332;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 11px;
	border: solid #B67332;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
	border-color: #B67332;
	background: #B67332;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd;
}

/* #addEmployeeModal{
	width: 50%;
} */